.header {
    width: 100%;
    height: 4rem;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2326;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .logo {
    font-size: 2rem;
    color: #EAECEF;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  
  .nav a {
    text-decoration: none;
    color: #EAECEF;
  }
  
  .nav a:hover,
  .nav a:active,
  .nav a.active {
    color: #FF4656;
  }